---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main class="container skinny">
      <section class="thick">
        <div class="textContainer">
          <p>I am a software engineer from the Gold Coast, Australia.</p>
          <p>
            If you'd like to get in touch, send me an email at{' '}
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="mailto:ericjinks@gmail.com"
            >
              ericjinks@gmail.com
            </a>{' '}
            or find me on <a href="https://github.com/Jinksi">Github</a>{' '}
            or <a href="https://twitter.com/jinksi">Twitter</a>
          </p>
        </div>
      </section>
    </main>

    <Footer />

    <style>
      main {
        padding-top: 5rem;
      }
    </style>
  </body>
</html>
