---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import PostList from '../components/PostList.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import AnimatedTitle from '../components/ui/AnimatedTitle'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container skinny">
      <PostList postCount={3}>
        <h2>Posts</h2>
      </PostList>
    </main>

    <Footer />

    <style>
      main {
        padding-top: 5rem;
      }
      .sketch {
        position: relative;
      }
    </style>
  </body>
</html>
