---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import PostList from '../components/PostList.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import AnimatedTitle from '../components/ui/AnimatedTitle'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main class="container skinny">
      <section>
        <div class="textContainer">
          <AnimatedTitle client:idle stiffness={15}
            >{SITE_DESCRIPTION}</AnimatedTitle
          >
        </div>
        <PostList postCount={3} />
      </section>
    </main>

    <Footer />

    <style>
      main {
        padding-top: 5rem;
      }
      .sketch {
        position: relative;
      }
    </style>
  </body>
</html>
