---
export const prerender = false
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import GitHubStars from '../components/GitHubStars.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Stars – ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="container skinny">
          <h2>Starred GitHub Repos</h2>

          <GitHubStars />
        </div>
      </section>
    </main>

    <Footer />

    <style>
      main {
        padding-top: 5rem;
      }

      .repo-header {
        & > * {
          display: inline-block;
          align-items: center;

          &:not(:first-child) {
            margin-left: 2rem;
          }
        }
      }

      .language {
        display: inline-flex;
        align-items: center;

        &::before {
          content: '';
          display: inline-block;
          width: 0.9rem;
          height: 0.9rem;
          border-radius: 50%;
          margin-right: 0.5rem;
          background-color: var(--language-color);
        }
      }
    </style>
  </body>
</html>
