---
import GithubIcon from './GithubIcon.astro'
---

<footer>
  <div class="inner">
    <a class="source-link" href="https://github.com/jinksi/ericjinks.com">
      <GithubIcon />
      <span>View source on GitHub</span>
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }

  .inner {
    font-size: 0.9em;
    padding: 10rem;
    text-align: center;
  }

  .source-link {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
  }
</style>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.getRegistrations().then(function (registrations) {
      for (let registration of registrations) {
        registration.unregister()
      }
    })
  }
</script>
