---
import GithubIcon from './GithubIcon.astro'
---

<footer>
  <div class="inner">
    <GithubIcon />
    <a href="https://github.com/jinksi/ericjinks.com"> View source on GitHub</a>
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }

  .inner {
    font-size: 0.9em;
    padding: 10rem;
    text-align: center;
  }

  a {
    margin-left: 0.2em;
  }
</style>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.getRegistrations().then(function (registrations) {
      for (let registration of registrations) {
        registration.unregister()
      }
    })
  }
</script>
