---
interface Props {
  sourceHref: string
  type: 'svelte' | 'react' | 'astro' | 'typescript' | 'javascript'
  wide?: boolean
}

const { sourceHref, type, wide = true } = Astro.props
---

<div class={`HighlightBox ${wide ? 'wide' : ''}`}>
  <a class="source-link" href={sourceHref} title={type}> view source</a>
  <slot />
</div>

<style>
  .HighlightBox {
    position: relative;
    width: auto;
    border: 1px solid var(--color-highlight);
    padding: 3rem;
    margin: 4rem 0;
    border-radius: 2px;
    box-shadow: 0px 5px 10px 0px var(--color-highlight-semi-transparent);
    background-color: var(--color-highlight-almost-transparent);
  }
  @media (min-width: 800px) {
    .HighlightBox.wide {
      padding: 4rem;
      margin-left: -7vw;
      margin-right: -7vw;
    }
  }

  .source-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--color-darkGrey);
    background-color: var(--color-lightGrey);
    border: 1px solid var(--color-highlight);
    border-radius: 0 0 0 2px;
    border-right: 0;
    border-top: 0;
    font-weight: 700;
    font-family: var(--font-code);
    display: flex;
    align-items: center;
    opacity: 0.5;
  }

  .source-link:hover,
  .source-link:focus {
    color: var(--black);
    background-color: var(--color-highlight);
    opacity: 1;
  }
</style>
