---
interface Props {
  sourceHref: string
  type: 'svelte' | 'react' | 'astro'
}

const { sourceHref, type } = Astro.props
---

<div class="HighlightBox">
  <a class="source-link" href={sourceHref}>view source</a>
  <slot />
</div>

<style>
  .HighlightBox {
    position: relative;
    width: auto;
    border: 1px solid var(--color-highlight);
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 2px;
    box-shadow: 0px 10px 20px 0px var(--color-highlight-semi-transparent);
    background-color: var(--color-highlight-almost-transparent);
  }
  @media (min-width: 800px) {
    .HighlightBox {
      padding: 4rem;
      margin-left: -7vw;
      margin-right: -7vw;
    }
  }

  .source-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-highlight);
    background-color: var(--color-lightGrey);
    border: 1px solid var(--color-highlight);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    font-weight: 700;
    font-family: var(--font-code);
  }

  .source-link:hover,
  .source-link:focus {
    color: var(--white);
    background-color: var(--color-highlight);
  }
</style>
