---
import NavLink from './NavLink.astro'
import NavIconButtons from './NavIconButtons.astro'
import AnimatedTitle from './react/AnimatedTitle'
import { SITE_TITLE_COMPACT } from '../config'
import { getMostRecentStarYear } from '../utils/github-stars'

const isHome = Astro.url.pathname === '/'
const mostRecentStarYear = getMostRecentStarYear()
---

<header>
  <nav class="textContainer auto">
    <a class="site-title" href="/">
      <AnimatedTitle
        client:idle
        animate
        stiffness={100}
        smallScreenContent={SITE_TITLE_COMPACT}
      >
        {SITE_TITLE_COMPACT}
      </AnimatedTitle>
    </a>

    <div class="nav-links">
      <NavLink href="/">Home</NavLink>
      <!-- <NavLink href="/sketches/">Sketches</NavLink> -->
      <NavLink href={`/stars/${mostRecentStarYear}/`}>Stars</NavLink>
    </div>
    <NavIconButtons />
  </nav>
</header>

<style>
  header {
    padding: 4rem 0 0 0;
  }

  a {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 0;
  }

  .site-title {
    margin-right: 2rem;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex: 1;
  }
</style>
