---
import NavLink from './NavLink.astro'
import NavIconButtons from './NavIconButtons.astro'
import AnimatedTitle from './react/AnimatedTitle'
import { SITE_TITLE_COMPACT } from '../config'
const isHome = Astro.url.pathname === '/'
---

<header>
  <nav class="container">
    <a href="/">
      <AnimatedTitle
        client:idle
        animate
        stiffness={100}
        smallScreenContent={SITE_TITLE_COMPACT}
      >
        {SITE_TITLE_COMPACT}
      </AnimatedTitle>
    </a>
    &emsp; &emsp;

    <NavLink href="/">Home</NavLink>
    <NavLink href="/blog/">Blog</NavLink>
    <!-- <NavLink href="/sketches/">Sketches</NavLink> -->
    <NavIconButtons />
  </nav>
</header>

<style>
  header {
    padding: 3rem 0 0 0;
  }

  a {
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: 450px) {
    header {
      padding: 10vh 0 0 0;
    }
  }
</style>
