.NavIconButtonsWrap {
  margin-left: auto;
  display: flex;
}

.IconButton {
  border: 0;
  background: none;
  text-decoration: none;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.1s ease;
}

.IconButton + * {
  margin-left: 1rem;
}

.IconButton svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: currentColor;
}
