---
const { tags, showDraftTag } = Astro.props
import { formatTag } from '../utils/tags'
---

<div class="post-tags">
  {showDraftTag && <span class="draft">#draft</span>}
  {tags?.split(',').map((tag: string) => <span>#{formatTag(tag)}</span>)}
</div>

<style>
  .post-tags {
    font-size: 0.9em;
    color: var(--color-highlight);
    font-weight: 600;
  }

  .post-tags > * {
    display: inline-block;
  }

  .post-tags > * + * {
    margin-left: 0.7em;
  }
  .draft {
    color: var(--color-highlightC);
    font-style: italic;
  }
</style>
