---
import Search from 'astro-pagefind/components/Search'
---

<div class="textContainer">
  <div class="search-container">
    <Search
      className="pagefind-ui"
      uiOptions={{
        showImages: false,
        showSubResults: false,
        excerptLength: 30,
      }}
    />
  </div>
</div>

<style>
  .search-container {
    margin: 2rem 0;
    border-radius: 8px;

    --pagefind-ui-scale: 0.9;
    --pagefind-ui-primary: var(--color-highlight);
    --pagefind-ui-text: var(--color-text);
    --pagefind-ui-background: var(--color-background);
    --pagefind-ui-border: var(--color-text);
    --pagefind-ui-tag: transparent;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 4px;
    --pagefind-ui-image-border-radius: 4px;
    --pagefind-ui-font: var(--font-system);
    --pagefind-mark: var(--color-highlight);
  }

  .search-container :global(.pagefind-ui__result) {
    padding: calc(10px * var(--pagefind-ui-scale)) 0
      calc(10px * var(--pagefind-ui-scale));
    border-top: none;
  }

  .search-container :global(.pagefind-ui__result-title) {
    text-decoration: underline;
  }

  .search-container :global(.pagefind-ui__result-excerpt mark) {
    background-color: var(--color-highlight-almost-transparent);
    color: var(--color-highlight);
  }
</style>
