.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  position: relative;

  :global(.loader-inner) {
    transform: translate(-25px, 0);
    left: 50%;
    top: 5rem;
    position: absolute;

    div {
      background-color: var(--color-text);
    }
  }

  .LoadingText {
    margin-top: 7rem;
    font-weight: 600;
    font-size: 1.6rem;
  }
}
