.Title {
  position: relative;
  font-size: 3rem;
  color: var(--color-text);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 0rem 1rem;
  line-height: 1;
  margin-top: 0;
}

.Title span {
  position: relative;
}

.Title.inverted {
  color: var(--color-background);
}

.TitleBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: normal;
}

.TitleBackground:nth-child(1) {
  background-color: var(--color-highlightB);
}
.TitleBackground:nth-child(2) {
  background-color: var(--color-highlight);
}

.TitleBackground:nth-child(3) {
  background-color: var(--color-background);
}

.Title.inverted .TitleBackground:nth-child(3) {
  background-color: var(--color-text);
}
